@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root {
    --roxo-escuro: #4800B3;
    --roxo-claro: #7417FF;
    --laranja: #FF6822;
    --amarelo: #FFF918;
    --branco: #FFFFFF;
    --cinza: #C7C7C7;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--branco);
    /* width: 100vw; */
    /* height: 100vh; */
}

/* HOME */

.conteudo {
    margin: auto;
    width: 100vw;
    max-width: 360px;
    /* overflow-x: hidden; */
}

.header-desktop {
    display: none;
}

.hcontainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-width: 100vw;
    background-color: var(--roxo-escuro);
    border-radius: 0px 0px 30px 30px;
}

.header_container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.header-itens-mb.container-mb {
    display: flex;
    align-items: center;
}

/* H1 DIRECTUS */
.header-itens-item1 {
    color: var(--branco);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 19.5px 0px 19.5px 0px;
}


/* SETA PARA ABIR MENU */
.menu_container {
    display: flex;
    justify-content: flex-end;
}

.abrir-menu-mb {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin: 37px 0px 19.5px 0px;
    width: 32px;
    height: 2px;
    top: 0px;
    /* right: 20px; */
    z-index: 999;
}

.abrir-menu-mb::before {
    content: '';
    width: 100%;
    height: 100%;
    transition: 0.4s;
    box-shadow: 0 -10.5px 0 #FFFFFF;
    background-color: var(--branco);
}

.abrir-menu-mb::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-color: var(--branco);
    transform: translateY(-20px);
}

/* ATIVO */
.menu_container .abrir-menu-mb.ativo {
    display: flex;
    justify-content: flex-end;
    margin: 37px 0px 19.5px 0px;
    right: 10vw;

}

.abrir-menu-mb.ativo::before {
    box-shadow: 0 0 0 #FFFFFF;
    background-color: var(--laranja);
    transition: 0.4s;
    transform: rotate(45deg);
}

.abrir-menu-mb.ativo::after {
    box-shadow: 0 0 0 #FFFFFF;
    background-color: var(--laranja);

    transition: 0.4s;
    transform: rotate(-45deg);
}

/* CAIXA QUANDO ABRE MENU*/
.header-mobile-itens {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    max-width: 100vw;
    height: 100vh;
    background-color: var(--roxo-escuro);
    z-index: 1;
    animation: menuDescer ease 0.4s;
}

@keyframes menuDescer {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ITENS DE QUANDO ABRE O MENU */
.header-itens-item2,
.header-itens-item3 {
    margin-top: 15px;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    height: 100vh;
}

.home-content-frase {
    /* position: relative; */
    /* top: -100px; */
    width: 302px;
    height: 151px;
}

.home-content-frase img {
    width: 100%;
    height: 100%;
}

.home-content-image {
    /* DIFERENÇA DE 60px Width p/ Height*/
    width: 213px;
    height: 153px;
    margin: 0px 0px 0px 0px;
    position: relative;
    right: -77px;
    top: 0px;
}

.home-content-image img {
    height: 100%;
    width: 100%;
}

/* ORGANIZAR TAMANHO LARGURA E ALTURA PARA RESPONSIVIDADE */

.btnDuvidas {
    width: 190px;
    height: auto;
    padding: 10px;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 117.7%;
    text-align: center;
    background-color: var(--roxo-claro);
    border-radius: 50px;
    color: var(--branco);
    cursor: pointer;
    text-transform: uppercase;

    position: relative;
    left: -50px;
    top: 40px;
}


/* SEÇÃO SOBRE */

.sobre-content {
    max-height: 100vh;
}

.sobre {
    width: 242px;
    height: 106px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    text-align: justify;

    color: var(--roxo-escuro);
    background-color: var(--laranja);
}

/*NAO FICOU BOM*/
@media screen and (min-width: 312px) and (max-width:359px) {

    /* MAIN */
    .conteudo {
        max-width: 312px;
    }

    .btnDuvidas {
        width: 190px;
    }



    /* QUANDO ABRE O MENU */
    .header-mobile-itens {
        width: 312px;
        height: 100vh;
        margin: auto;
    }
}

@media screen and (min-width: 360px) {
    .conteudo {
        max-width: 360px;
    }


    /* IMAGEM DO HOME */
    .home-content-image {
        /* DIFERENÇA DE 50px Width p/ Height*/
        margin: 0px 0px 0px 0px;
        position: relative;
        right: -73px;
        top: 0px;
    }

    /* BOTAO SEÇÃO HOME */
    .btnDuvidas {
        width: 170px;
        font-size: 1.45rem;
        position: relative;
        left: -57px;
        top: 40px;
    }
}

@media screen and (min-width: 450px) {

    .conteudo {
        max-width: 450px;
    }

    .home-content-frase {}

    .home-content-image {
        width: 50%;
        height: 25%;
    }

    .btnDuvidas {}
}

@media screen and (min-width: 660px) {

    .conteudo,
    .header_container {
        max-width: 660px;
    }

    .home-content-frase {
        width: 60%;
        height: 30%;
    }

    .home-content-image {
        width: 45%;
        height: 30%;
    }

    .btnDuvidas {
        left: -100px;
    }

}

@media screen and (min-width: 1280px) {
    .hcontainer {
        display: none;
    }

    .header-desktop {
        display: flex;
        background-color: var(--roxo-escuro);
        border-radius: 0px 0px 30px 30px;
        min-width: 1110px;
    }

    .header-desk-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 960px;
    }

    .header-desktop-itens {
        display: flex;
    }

    .home-content-frase {
        width: 70%;
        height: 30%;
    }

    /* ITENS DO HEADER */

    .desk-header-itens-item2,
    .desk-header-itens-item3,
    .desk-header-itens-item4 {
        display: flex;
        margin-left: 98px;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        color: var(--branco);
        cursor: pointer;
        z-index: 2;
        transition: linear 0.6s ease-in-out;
    }

    /* ITENS DO HEADER HOVER */

    .desk-header-itens-item2:hover::after {
        position: relative;
        content: ' ';
        height: 24px;
        width: 3px;
        right: 56px;
        background-color: var(--amarelo);
        animation: hoverMenuAfter ease 0.5s;
    }

    .desk-header-itens-item2:hover::before {
        position: relative;
        content: ' ';
        height: 35px;
        width: 3px;
        top: -16px;
        left: 15px;
        background-color: var(--amarelo);
        animation: hoverMenuBefore ease-in 0.5s;
        transform: rotate(90deg);
    }

    .desk-header-itens-item3:hover::after {
        position: relative;
        content: ' ';
        height: 24px;
        width: 3px;
        right: 59px;
        background-color: var(--amarelo);
        animation: hoverMenuAfter ease 0.5s;
    }

    .desk-header-itens-item3:hover::before {
        position: relative;
        content: ' ';
        height: 35px;
        width: 3px;
        top: -16px;
        left: 15px;
        background-color: var(--amarelo);
        animation: hoverMenuBefore ease-in 0.5s;
        transform: rotate(90deg);
    }

    .desk-header-itens-item4:hover::after {
        position: relative;
        content: ' ';
        height: 24px;
        width: 3px;
        right: 77px;
        background-color: var(--amarelo);
        animation: hoverMenuAfter ease 0.5s;
    }

    .desk-header-itens-item4:hover::before {
        position: relative;
        content: ' ';
        height: 35px;
        width: 3px;
        top: -16px;
        left: 15px;
        background-color: var(--amarelo);
        animation: hoverMenuBefore ease-in 0.5s;
        transform: rotate(90deg);
    }

    @keyframes hoverMenuAfter {
        0% {
            opacity: 0;
            top: 10px;
        }

        100% {
            opacity: 100;
            top: 0px;
        }
    }

    @keyframes hoverMenuBefore {
        0% {
            opacity: 0;
            left: 11px;
        }
    }

    body {
        background-image: url(..//images/image-PhotoRoom.png-PhotoRoom\ \(1\).png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: left;
    }

    .home-content-image {
        display: none;
    }

    .conteudo {
        width: 1110px;
    }

    .home-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        right: -250px;
        top: -68px;
    }

    .btnDuvidas {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 20px;
        width: 70%;
        height: 10%;
        top: 0px;
        left: 0px;

        font-style: normal;
        font-weight: 700;
        font-size: 1.75rem;
        transition: 0.3s ease-in-out;
    }

    .btnDuvidas:hover {
        background-color: var(--roxo-escuro);
    }
}